<div class="app-admin-container">
	
	<div class="app-admin">
		<div class="app-admin__title-list">Customer list:</div>
		<table>
			<thead>
				<tr>
					<th>User Name</th>
					<th>Price</th>
					<th>Date</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let customerListItem of customerList; let i = index;" class="app-admin__item app-admin__item-{{i}}">
					<td>{{customerListItem.name}}</td>
					<td>{{customerListItem.price}}</td>
					<td>{{customerListItem.date}}</td>
				</tr>
			</tbody>
	  </table>

	  <div class="app-admin__title-list">List of partners:</div>
	  <table>
			<thead>
				<tr>
					<th colspan="2">Partners</th>
		
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let partnerListItem of partnerList; let i = index;" class="app-admin__item app-admin__item-{{i}}">
					<td>{{partnerListItem.partner}}</td>
					<td>
						<span class="material-icons app-admin-partner__remove" (click)="removePartner(partnerListItem)">
		    		{{partnerListItem.remove}}
		    		</span>
		    	</td>
				</tr>
			</tbody>
	  </table>
		
	</div>

</div>